@model List<ProyectNewshore.Controllers.FlightListController.fliht>

<div class="row col s12">
    <h1>
        <p>Hola como estas como va todp</p>
    </h1>
    @*<table class="table">
            <tr>
                <th>Origen</th>

                <th>destino</th>

                <th>Fecha</th>
            </tr>
           @foreach(var fliht in Model) {
            <tr>
                <td>
                    @fliht.Origen
                </td>
            </tr>
            }
        </table>*@
</div>
